<%- include partials/header %>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<div class="wrapper">
    <div class="main-panel">
        <%- include partials/nav %>
        <div id="map"></div>
    </div>
</div>

<%- include partials/scripts %>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
