doctype html
html
  head
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    meta(name='mobile-web-app-capable', content='yes')
  
    meta(name="application-name" content="StarkMap: Plataforma de busqueda de recursos fisicos de la universidad de la amazonia")
    meta(name="author" content="@anlijudavid")
    meta(name="description" content="Asistente en la busqueda de recursos fisicos y academicos de la universidad de la amazonia.")
    meta(name="generator" content="AngularJS")
    meta(name="keywords" content="analítica web, seo, educacion, web, recursos fisicos, analytics, asistente, assistant, universidad, universidad de la amazonia, amazonia, udla, www.udla.edu.co, nodejs, angularjs, openshift")
    
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css")
    //link(rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.pink-red.min.css")
    //link(rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.teal-indigo.min.css")    
    script(defer src="https://code.getmdl.io/1.1.3/material.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/pin.png")
    
    style.
      #view-source {
        position: fixed;
        display: block;
        right: 0;
        bottom: 0;
        margin-right: 40px;
        margin-bottom: 40px;
        z-index: 900;
      }
        
    style.
      #map {
        width: 100%;
        height: 600px;
        background-color: #CCC;
      }
  body
    style.
      .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
        padding-right: 0;
      }
    .demo-layout-waterfall.mdl-layout.mdl-js-layout
      header.mdl-layout__header.mdl-layout__header--waterfall
        // Top row, always visible
        .mdl-layout__header-row
          // Title
          span.mdl-layout-title StarkMap
          .mdl-layout-spacer
          .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
            label.mdl-button.mdl-js-button.mdl-button--icon(for='waterfall-exp')
              i.material-icons search
            .mdl-textfield__expandable-holder
              input#waterfall-exp.mdl-textfield__input(type='text', name='sample')
        // Bottom row, not visible on scroll
        .mdl-layout__header-row
          .mdl-layout-spacer
          // Navigation
          nav.mdl-navigation
            a.mdl-navigation__link(href='/') Mapa
            a.mdl-navigation__link(href='/recursos_fisicos_form') Recursos Fisicos
            a.mdl-navigation__link(href='/sedes_form') Sedes
            a.mdl-navigation__link(href='/bloques/form') Bloques
            a.mdl-navigation__link(href='/tipos_recursos_fisicos_form') Tipos de recurso
            a.mdl-navigation__link(href='/pinteres') Puntos de interes
      .mdl-layout__drawer
        span.mdl-layout-title StarkMap
        nav.mdl-navigation
          a.mdl-navigation__link(href='/') Mapa
          a.mdl-navigation__link(href='/recursos_fisicos_form') Recursos Fisicos
          a.mdl-navigation__link(href='/bloques/form') Bloques
          a.mdl-navigation__link(href='/sedes_form') Sedes
          a.mdl-navigation__link(href='/tipos_recursos_fisicos_form') Tipos de recurso
          a.mdl-navigation__link(href='/pinteres') Puntos de interes
      main.mdl-layout__content
        .page-content
          // Your content goes here
          block content
          br
          br
      
      script.
         $(".button-collapse").sideNav();
