extends layout

block content  
  div(id="map")
  
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  
  script.
    var coords = [];
    
    var ruta = #{ruta};
    console.log("Ruta: " + ruta);
    
    $.get('http://starkmap-sigudla.rhcloud.com/bloques', {}, function(datos) {
      var c = datos.layers;
      console.log("Lay: " + JSON.stringify(c));      
      for (let i = 0; i < c.length; i++) {
        coords.push({
          "lat": c[i].posicion.x,
          "lng": c[i].posicion.y
        });
      }
      initMap();
    });
    
    function initMap() {
      //var myLatLng = {lat: -25.363, lng: 131.044};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 18,
        center: {
          "lat": 1.620401,
          "lng": -75.604299
        },
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      
      var marker, i;
      
      for(i=0; i < coords.length; i++) {
        var contentString = '<p>Holaa '+ JSON.stringify(coords[i]) + Math.random() +' </p>';
        //console.log(contentString);                   
        marker = new google.maps.Marker({
          position: coords[i],
          map: map,
          title: 'Hello World!',
          animation: google.maps.Animation.DROP
        });
        var infowindow = new google.maps.InfoWindow();  
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(contentString);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
    }

  script(src="https://maps.googleapis.com/maps/api/js" async defer)  
