<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            &copy; 2016
            <a target='_blank' href="http://www.udla.edu.co/v10">Universidad de la Amazonia</a>
        </p>
    </div>
</footer>
